* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

main {
  height: 100%;
}

section {
  margin: auto;
  width: 40vw;
  height: 70vh;
  margin-top: 20vh;
  border: 0.6rem solid blue;
  border-radius: 20px;
  background-color: antiquewhite;
  contain: content;
}

button {
  padding: 0.8rem 1.4rem;
  border-radius: 6px;
  margin-top: 8vh;
  font-weight: bold;
  font-size: 1.2rem;
  border: darkgray 0.4rem groove;
}

button:hover {
  background-color: azure;
  cursor: pointer;
}

button:active {
  background-color: bisque;
}
