* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  height: 100%;
  background-color: blue;
}

main {
  max-width: 100%;
  max-height: 100%;
  font-size: 2rem;
  overflow-wrap: normal;
}

section {
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin: auto;
  width: 40vw;
  height: 60vh;
  margin-top: 20vh;
  border: 0.6rem solid blue;
  border-radius: 20px;
  background-color: antiquewhite;
  contain: content;
  font-size: 2rem;
  position: relative;
}

.jokepar {
  padding: 3rem 2rem;
  margin-top: 3rem;
  line-height: 3rem;
}

button {
  padding: 0.7rem 1rem;
  border-radius: 6px;
  margin-top: 14rem;
  font-weight: bold;
  border: darkgray 0.4rem groove;
}

.btn-bottom {
  margin: auto;
  text-align: center;
  position: absolute;
  bottom: 2rem;
  right: calc(50% - 5.1rem);
}

button:hover {
  background-color: azure;
  cursor: pointer;
}

button:active {
  background-color: bisque;
}

/*  Smartphones */

@media (max-width: 500px) {
  section {
    margin: auto;
    width: 100%;
    height: 100vh;
  }

  button {
    margin-top: 40vh;
  }

  .jokepar {
    margin-top: 10vh;
    line-height: 2rem;
    padding: 1rem;
    font-size: 1.2rem;
  }

  .btn-bottom {
    margin-bottom: 1.5rem;
  }
}

/* Landscape mode */
@media (max-height: 500px) {
  section {
    margin: auto;
    width: 100%;
    height: 100vh;
  }

  button {
    margin-top: 38vh;
  }

  .btn-bottom {
    text-align: center;
    font-size: 0.6rem;
    padding: 0.5rem;
    bottom: 1rem;
    right: calc(50% - 4.4rem);
  }

  .jokepar {
    margin-top: 0.5rem;
    font-size: 1rem;
    line-height: normal;
  }
}
